/*****GLOBAL*****/
html{
    font-family: Arial, Helvetica, sans-serif;
    color: #BCBDE1;
}

textarea{
    resize: none;
}

/*****BODY*****/
body{
    background-color: #1C1C23;
}

.container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;    
}

.box{
    border: 1px #D5BBE5 solid;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    width: 60%;
}

.box h1{
    background-color: #312C3B;
    border: 1px #D5BBE5 solid;
    padding: 15px;
    text-align: left;
    font-size: 1.5rem;
}

.text{
    display: flex;
    border: 1px #D5BBE5 solid;
    width: 100%;
    align-items: flex-start;
    background-color: #312C3B;
    padding: 0.3rem;
    gap: 10px;
}

.text textarea{
    width: 100%;
    background-color: #312C3B;
    font-family: Arial, Helvetica, sans-serif;
    color: #BCBDE1;
    border: 1px #D5BBE5 solid;
}

.back{
    display: flex;
    justify-content: center;
    width: 100%;  
}

.history{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    height: 40vh;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
}
  
::-webkit-scrollbar-track {
    background: #312C3B; 
  }
   
::-webkit-scrollbar-thumb {
    background: #D5BBE5; 
}
  

::-webkit-scrollbar-thumb:hover {
    background: #BCBDE1; 
}

.new_message{
    width: 70%;
}

.new_message p{
    border: 1px #D5BBE5 solid;
    padding: 8px;
}

button{
    padding: 0.3rem 1rem;
    background: #312C3B;
    border: 1px #D5BBE5 solid;
    font-family: Arial, Helvetica, sans-serif;
    color: #BCBDE1; 
}

.scopebutton{
    display: flex;
    justify-content: flex-end;
}